# Dependencies
node_modules/
**/node_modules/

# Build
dist/
build/
coverage/
out/
**/out/

# TypeScript
*.tsbuildinfo
**/*.tsbuildinfo

# Turbo
.turbo/

# Cache
.cache/

# Logs
*.log

# Env
.env
.env.*

# IDE
.vscode/
.idea/